<!--Estende o template base-->
{% extends 'base.html' %}

<!--Bloco para o titulo da página-->
{%block title%}Cadastro{%endblock%}

<!--Bloco de conteúdo-->
{%block conteudo%}
<form action="{% url 'atualiza_cliente' pessoa.id %}" method="post" id="cadastro">
    {% csrf_token %}
    <div class="container">
        <div class="container__buttons-nav">
            <button class="btn btn btn-outline-secondary"><</button>
            <button class="btn btn btn-outline-secondary">></button>
        </div>
        <div class="data">
            <div class="data__input-group">
                <label for="id" class="form-label">ID</label>
                <input id="id" type="text" name="id" class="form-control" value={{pessoa.id}} >
            </div>
            <div class="data__input-group">
                <label for="nome" class="form-label">Nome</label>
                <input id="nome" type="text" name="nome" class="form-control" value={{pessoa.nome}} >
            </div>
            <div class="data__input-group">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input id="sobrenome" type="text" name="sobrenome" class="form-control" value={{pessoa.sobrenome}} >
            </div>
            <div class="data__input-group">
                <label for="aniversario" class="form-label">Data de Aniversário</label>
                <input id="aniversario" type="date" name="aniversario" class="form-control" value={{pessoa.data_aniversario|date:'Y-m-d'}} >
            </div>
            <div class="data__input-group">
                <label for="endereco" class="form-label">Endereço</label>
                <input id="endereco" type="text" name="endereco" class="form-control" placeholder="Rua Exemplo, 10" value={{pessoa.endereco}} >
            </div>
            <div class="data__input-group">
                <label for="email" class="form-label">E-Mail</label>
                <input id="email" type="text" name="email" placeholder="name@example.com" class="form-control" value={{pessoa.email}} >
            </div>
            <div class="data__input-group">
                <label for="telefone" class="form-label">Telefone</label>
                <input id="telefone" type="text" name="telefone" class="form-control" placeholder="(00)0000-0000" value={{pessoa.telefone}} >
            </div>
        </div>
        <div class="container__buttons">
            <button class="btn btn-outline-warning" disabled>Alterar</button>
            <a class="btn btn-outline-danger" href="{% url 'home_url' %}">Cancelar</a>
            <input type="submit" value="Salvar" class="btn btn-outline-success">
        </div>
    </div>
</form>
{%endblock%}

