<!--Estende o template base-->
{% extends 'base.html' %}

<!--Bloco para o titulo da página-->
{%block title%}Buscar Cliente{%endblock%}

<!--Bloco de conteúdo-->
{%block conteudo%}
<div class="container">
    <div class="data-find">
    <form action="{% url 'filtra_cliente'%}" method="post">
        {%csrf_token%}
        <h4 class="title-find">Filtrar Buscar Por:</h4>
        <div class="group__radios">
            <div class="checkbox">
                <input class="form-check-input" type="radio" name="filter_check" id="id_check" value="id_check">
                <label class="form-check-label" for="id_check">
                    Id
                </label>                  
            </div>
            <div class="checkbox">
                <input class="form-check-input" type="radio" name="filter_check" id="nome_check" value="nome_check">
                <label class="form-check-label" for="nome_check">
                    Nome
                </label>                  
            </div>
            <div class="checkbox">
                <input class="form-check-input" type="radio" name="filter_check" id="sobrenome_check" value="sobrenome_check">
                <label class="form-check-label" for="sobrenome_check">
                    Sobrenome
                </label>                  
            </div>
        </div>
        <div class="find-search">
            <label for="find_text">Buscar: </label>
            <input type="text" id="find_text" name="find_text" class="search_box">
            <input type="submit" class="button-search btn btn-primary" value="Buscar"></input>
        </div>
    </form>
        <div class="table-data">
            <table id="table-data">
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Data de Aniversário</th>
                    <th>Endereço</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                </thead>
                <tbody>
                    {% for cliente in clientes%}
                    <tr>
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.sobrenome}}</td>
                        <td>{{cliente.data_aniversario|date:'d/m/Y'}}</td>
                        <td>{{cliente.endereco}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.telefone}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            
        </div>
        <input type="hidden" id="url" data-url="{% url 'altera_cliente' 0%}">
        <button type="button" id="visualizarDados" class="btn btn-primary">Visualizar</button>

    </div>


</div>
{%endblock%}
{%block scripts %}
<script>
    var tabela = document.getElementById("table-data");
    var linhas = tabela.getElementsByTagName("tr");
    
    for(var i = 0; i < linhas.length; i++){
        var linha = linhas[i];
        console.log(linha.innerHTML);
      linha.addEventListener("click", function(){
          //Adicionar ao atual
            selLinha(this, false); //Selecione apenas um
        //selLinha(this, true); //Selecione quantos quiser
        });
    }
    
    /**
    Caso passe true, você pode selecionar multiplas linhas.
    Caso passe false, você só pode selecionar uma linha por vez.
    **/
    function selLinha(linha, multiplos){
        if(!multiplos){
          var linhas = linha.parentElement.getElementsByTagName("tr");
        for(var i = 0; i < linhas.length; i++){
          var linha_ = linhas[i];
          linha_.classList.remove("selecionado");    
        }
      }
      linha.classList.toggle("selecionado");
    }
    
    /**
    Exemplo de como capturar os dados
    **/
    var btnVisualizar = document.getElementById("visualizarDados");
    
    btnVisualizar.addEventListener("click", function(){
        var selecionados = tabela.getElementsByClassName("selecionado");
      //Verificar se eestá selecionado
      if(selecionados.length < 1){
          alert("Selecione pelo menos uma linha");
        return false;
      }
      
      var id = 0;
      
      for(var i = 0; i < selecionados.length; i++){
          var selecionado = selecionados[i];
        selecionado = selecionado.getElementsByTagName("td");
        console.log(selecionado[0].innerHTML);
        id = selecionado[0].innerHTML;
      }
      var url = document.getElementById("url").dataset.url;
      url = url.replace('0', id);
      console.log(url);
      window.location.replace(url);
    });
</script>
{%endblock%}